html, body {
    height: 100%;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #2E324A;
    line-height:1.5;
    background-color:#fff;
}

* {
    margin:0;
    padding:0;
    text-shadow:1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

.site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    background-color: #f1f1f1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    box-sizing: border-box;
}

a {
    color:inherit;
}

a:hover {
    text-decoration: none;
}

.page-wrapper {
    width:100%;
    max-width: 1400px;
    margin:0 auto;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 20px;
    position: relative;
}

.header {
    background-color:#fff;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.3);
    position: relative;
}

.header-top-row {
    background: linear-gradient(90deg, #0099dc 0%, #9f1c6e 62.5%, #ff0803 100%);
    padding:5px 0;
}

.header-top-row-wrap {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#fff;
    box-sizing: border-box;
}

.header-top-row-left-side {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.header-city-selector-cont {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 32px;
    cursor:pointer;
}

.header-contact-phone {
    text-decoration: none;
    font-size:16px;
    font-weight: 600;
}

.header-city-selector-pic-block {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:4px;
}

.header-city-selector-cont span {
    font-size:16px;
    font-weight: 700;
    user-select: none;
}

.header-main-navigation a {
    text-decoration: none;
    margin-left:52px;
}

.header-cont-row {
    padding:12px 0;
}

.header-cont-row-wrap {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.header-cont-logo {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:30px;
}

.header-main-catalog-btn {
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(56, 56, 59);
    height:40px;
    padding:0 18px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}


.header-main-catalog-btn-burger {
    width:20px;
    height:12px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    margin-right: 12px;
}

.header-main-catalog-btn-burger span {
    position: relative;
    width:100%;
    height:2px;
    background:rgb(35, 37, 42);
    transition:0.2s;

}

.header-main-catalog-btn-burger span:nth-child(2) {
    width:75%;
}

.header-main-catalog-btn-burger span:nth-child(3) {
    width:50%;
}

.header-main-catalog-btn.active span {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    width:100%;
}

.header-main-catalog-btn.active span:nth-child(2)  {
    display:none;
}

.header-main-catalog-btn.active span:nth-child(1)  {
    transform:rotate(-45deg);
}


.header-main-catalog-btn.active span:nth-child(3)  {
    transform:rotate(45deg);
}






.header-city-selector-window {
    position: absolute;
    left: 20px;
    top: 29px;
    width:500px;
    padding:24px;
    background:#fff;
    box-sizing: border-box;
    z-index: 2;
    color:#000;
    display:none;
}

.header-city-selector-window.active {
    display:block;
}

.header-city-selector-window-title {
    font-size:20px;
    font-weight: 600;
    margin-bottom: 18px;
}

.header-city-selector-list {
    display:flex;
    flex-direction: column;
}

.header-city-selector-list-unit {
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.header-city-selector-list-unit:hover {
    color:#6060ff;
}










.main-content {
    padding:50px;
    box-sizing: border-box;
}

.main-content-panel {
    background-color:#fff;
    padding-top:32px;
    padding-bottom: 32px;
}

.section-title {
    font-size:24px;
    text-align: center;
    width:100%;
    font-weight: 600;
    margin-bottom: 62px;
}

.audit-block {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.audit-val-row {
    display:flex;
    flex-flow:row wrap;
    width:100%;
    max-width:600px;
    justify-content: space-between;
}

.audit-title {
    font-size:16px;
    font-weight: 600;
    margin-bottom: 24px;
}

.audit-val-title{
    font-size:14px;
    margin-bottom:12px;
}

.audit-val-cont {
    font-size:18px;
    font-weight: 700;
}

.audit-val-unit {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px 24px;
    box-sizing: border-box;
    background: #f8f8f8;
    width:250px;
}




.main-catalog-cont-window {
    position: absolute;
    width: 100%;
    height: calc(100vh - 209px);
    background: #fff;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    padding-top:20px;
    padding-bottom: 20px;
    align-items: stretch;
    display: flex;
}

.main-catalog-cont-category-cols {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow:row nowrap;
    height: auto;
}

.main-catalog-cont-category-col_list {
    width:400px;
    overflow-x: auto;
    overflow-y: auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    padding-right: 20px;
    box-sizing: border-box;
    height: 100%;
}

.main-catalog-cont-category-col_list::-webkit-scrollbar {
    display: none;
}

.main-category-unit {
    width: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 2px solid transparent;
    box-sizing: border-box;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    max-height: 140px;
    transition: 0.2s;
}

.main-category-unit:hover {
    border-color:#a9d8ec;
}

.main-category-unit.active {
    border-color:#0099dc
}



.main-category-unit-title {
    font-size:12px;
    font-weight: 600;

}


.main-catalog-cont-category-col_content {
    display:grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.main-catalog-cont-category-col_content::-webkit-scrollbar {
    display: none;
}

.main-category-content-unit {
    position: relative;
    height:167px;
    overflow-y: hidden;
    border-radius: 4px;
}

.main-category-content-unit_title {
    position: absolute;
    left:10px;
    bottom:10px;
    padding:3px 6px;
    width:auto;
    max-width: 100%;
    background-color:#fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #0099dc;
}













.footer {
    height:100px;
    background: linear-gradient(90deg, #0099dc 0%, #9f1c6e 62.5%, #ff0803 100%);
}


