<template>
  <section class="main-content">
    <div class="main-content-panel page-wrapper">
      <div class="add-info-panel">
        <div class="section-title">Аудитория сайта</div>
        <div class="audit-block">
          <div class="audit-title">Посещаемость</div>
          <div class="audit-val-row" v-if="error.length === 0">
            <div class="audit-val-unit">
              <div class="audit-val-title">Общее число просмотров</div>
              <div class="audit-val-cont" >{{ metric !== null ? metric.metricsTotalView : 0 }}</div>
            </div>
            <div class="audit-val-unit">
              <div class="audit-val-title">Ежемесячная посещаемость</div>
              <div class="audit-val-cont">{{ metric !== null ? metric.metricMonthlyView : 0 }}</div>
            </div>
          </div>
          <div class="error-message" v-else>Произошла ощибка чудовищная ошибка <br>{{error}}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>



export default {
  name: 'Content',
  props:{
    setCurrentCity: {
      type: String,
      default: '',
    }
  },
  data() {
    return {
      metric: null,
      error: ''
    }
  },
  methods: {
    async getMetrics(cityCode) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          const metrics = [
            {cityCode: '99', metricsTotalView: '90', metricMonthlyView: '9'},
            {cityCode: 'error', metricsTotalView: '200', metricMonthlyView: '20'},
            {cityCode: '76', metricsTotalView: '300', metricMonthlyView: '30'},
            {cityCode: '33', metricsTotalView: '400', metricMonthlyView: '40'},
          ]
          const metric =  metrics.find(val => val.cityCode === cityCode)
          if (undefined === metric) {
            reject(new Error('Ошибка'))
          }
          else {
            resolve(metric);
          }
        }, 500)
      });
    }
  },

  watch: {
     setCurrentCity: async function () {
       this.error = ''
       try {
         this.metric = await this.getMetrics(this.setCurrentCity)
       }
       catch (error) {
         console.error(error)
         this.error = error.message
       }
    }
  },
  async mounted() {
    this.error = ''
    try {
      this.metric = await this.getMetrics(this.setCurrentCity)
    }
    catch (error) {
      console.error(error)
      this.error = error.message
    }

  }

}
</script>
