<template>
  <header class="header">
      <div class="header-top-row">
        <div class="header-top-row-wrap page-wrapper">
          <div class="header-top-row-left-side">
            <div class="header-city-selector">
              <div id="citySelectorBtn" class="header-city-selector-cont"
                v-on:click="showCityWin"
              >
                <div class="header-city-selector-pic-block">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-6fc3667c=""><path fill-rule="evenodd" clip-rule="evenodd" d="M10 17.5C10 17.5 16.5217 13.4091 16.5217 8.63636C16.5217 5.24734 13.6019 2.5 10 2.5C6.39815 2.5 3.47827 5.24734 3.47827 8.63636C3.47827 13.4091 10 17.5 10 17.5ZM13 9C13 10.6569 11.6569 12 10 12C8.34315 12 7 10.6569 7 9C7 7.34315 8.34315 6 10 6C11.6569 6 13 7.34315 13 9Z" fill="#fff" data-v-6fc3667c=""></path></svg>
                </div>
                <span>{{ getCurrentCity.name }}</span>
              </div>
            </div>
            <div id="citySelectorList" class="header-city-selector-window"
              v-if="cityListIsActive"
            >
              <div class="header-city-selector-window-title">Ваш город <span>{{getCurrentCity.name}}</span></div>
              <div class="header-city-selector-list">
                <div class="header-city-selector-list-unit"
                     v-for="city in cityList"
                     :key="city.code"
                     @click="setCurrentCity(city)"
                     v-bind:class="{active : city.code === currentCityCode}"
                >
                  {{city.name}}
                </div>
              </div>
            </div>
            <a href="tel:+74852273536" class="header-contact-phone">+7 (4852) 27-35-36</a>
          </div>
          <div class="header-top-row-right-side">
            <nav class="header-main-navigation">
              <a href="javascript:void(0);">Оптовым клиентам</a>
              <a href="javascript:void(0);">Мастера</a>
              <a href="javascript:void(0);">Бонусная программа</a>
              <a href="javascript:void(0);">Помощь</a>
            </nav>
          </div>
        </div>
      </div>
      <div class="header-cont-row">
        <div class="header-cont-row-wrap page-wrapper">
          <a href="javascript:void(0);" class="header-cont-logo">
            <img src="@/assets/img/logo.png" alt="">
          </a>
          <div class="header-main-catalog-btn"
            v-on:click="showCatalogWin"
            v-bind:class="{active : catalogBtnIsActive}"
          >
            <div class="header-main-catalog-btn-burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
            Каталог
          </div>
        </div>
      </div>
      <div class="main-catalog-cont-window page-wrapper"
        v-if="catalogBtnIsActive"
      >
        <div class="main-catalog-cont-category-cols">
          <div class="main-catalog-cont-category-col_list">
            <div class="main-category-unit active">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
            <div class="main-category-unit">
              <div class="main-category-unit-pic-holder">
                <img src="@/assets/img/unit.jpg" alt="">
              </div>
              <div class="main-category-unit-title">Сделай сам</div>
            </div>
          </div>
          <div class="main-catalog-cont-category-col_content">
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
            <div class="main-category-content-unit">
              <img src="https://via.placeholder.com/304x167" alt="">
              <div class="main-category-content-unit_title">Окна ПВХ</div>
            </div>
          </div>
        </div>
      </div>
    </header>
</template>

<script>

export default {
  name: 'Header',
  data() {
    return{
      currentCityCode: '99',
      catalogBtnIsActive: false,
      cityListIsActive: false,
      cityList: [
        {name: 'Москва', code: '99'},
        {name: 'Кострома', code: '44'},
        {name: 'Ярославль', code: '76'},
        {name: 'Владимир', code: '33'}
      ],
    }
  },
  computed: {
    getCurrentCity() {
      if (this.currentCityCode === null) {
        return null
      }
      return this.cityList.find(val => val.code === this.currentCityCode)
    }
  },
  methods: {
    showCatalogWin() {
      this.catalogBtnIsActive = !this.catalogBtnIsActive;
    },
    showCityWin() {
      this.cityListIsActive = !this.cityListIsActive;
    },
    setCurrentCity(city) {
      this.currentCityCode = city.code
      this.$emit('setCurrentCity', city.code)
      this.cityListIsActive = false
    }
  },
}

</script>
