<template>
  <div id="app">
    <div class="site-wrapper">
      <div class="page-content">
          <Header @setCurrentCity="setCurrentCity"/>
          <Content :set-current-city="currentCity"/>
        </div>
      <Footer/>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Content from './components/Content.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {
    Header,
    Content,
    Footer,
  },
  data(){
    return {
      currentCity: '99'
    }
  },
  methods: {
    setCurrentCity(city){
      this.currentCity = city
      console.log(city)
    }
  }
}
</script>
